form{
    display: flex;
    flex-direction: column;
    border: solid;
    width: 25%;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background-color: #487eb0;
    border-radius: 30px;
    box-shadow: 10px 5px 5px black;
}
label:hover{
    background-color: gray;
}
.tableau{
    border: solid;
    width: 35%;
    border-radius: 30px;
    background-color: #487eb0;
    box-shadow: 10px 5px 5px black;
    text-align: center;
    padding: 10px;
}